@tailwind base;
@tailwind components;
@tailwind utilities;


.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    flex-wrap: wrap;
}

html, body {
    height: 100%;
    position: relative;
}

.h-page {
    height: calc(100vh - 64px); /* 64px is the height of the header */
}

@layer components {
    .w-page {
        @apply max-w-[1440px] mx-auto;
    }
}

pb-block {
    width: 100%;
}
